@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 12.5%;
    
    --primary: 219 89% 26%; 
    --primary-foreground: 0 0% 100%;
    
    --secondary: 20 100% 62%;
    --secondary-foreground: 0 0% 12.5%;
    
    --accent: 20 100% 62%;
    --accent-foreground: 0 0% 12.5%;
    
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 12.5%;
    
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 219 89% 26%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    
    --primary: 219 89% 26%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 20 100% 62%;
    --secondary-foreground: 0 0% 12.5%;
    
    --card: 0 0% 12.5%;
    --card-foreground: 0 0% 100%;
    
    --border: 0 0% 20%;
    --input: 0 0% 20%;
  }
}

@layer components {
  input:focus-visible,
  textarea:focus-visible {
    --tw-ring-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-color: hsl(var(--primary)) !important;
  }
}

@theme {
  --color-primary-50: #e7f0ffff;
  --color-primary-500: #073079;
  --color-primary-700: #041859;
  
  --color-gray-50: #F9F9F9;
  --color-gray-100: #F5F5F5;
  --color-gray-900: #202020;
  
  --color-white: #FFFFFF;
  --color-black: #000000;
}